* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(225, 100%, 94%);
    background-image:  url("./images/pattern-background-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: "Red-Hat-Family", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    text-align: center;
    width: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 10px;
}

.card > img {
    width: 300px;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 20px;
}

.main-content > p {
    color: hsl(224, 23%, 55%);
}

.payment-plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    padding: 20px;
}

button {
    font-weight: 600;
    padding: 15px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: hsl(245, 75%, 52%);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 0.15s ease-in-out;
}

button:hover {
    opacity: 0.75;
}

.annual-plan p {
    font-size: 14px;
    color: hsl(224, 23%, 55%);
}

.payment-plan a {
    font-weight: 600;
    font-size: 14px;
    color: hsl(245, 75%, 52%);
    transition: all 0.25s ease-in-out;
}

.payment-plan a:hover {
    text-decoration: none;
}

.main-content span {
    color: hsl(224, 23%, 55%);
    font-weight: 600;
    transition: all 0.15s ease-in-out;
}

.main-content span:hover {
    color: hsl(223, 47%, 23%);
}